@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: Allura,cursive;
}

li {
    display: inline-block;
    margin: 5px;
}

h1,h2,h3{
    font-family: 'montserrat',sans-serif;
    letter-spacing: 4px;
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover{ 
    text-decoration: underline ;
}

.fa-brand{
    font-size: 20px;
    margin: 20px 10px 0 0;

}
.fa-facebook {
    color: aquamarine;
    font-size: 100px;
}
.fa-github {
    color:red;
    font-size: 100px;
}
.fa-instagram{
    color:chartreuse
}
.border {
    border: 0.5px solid black;
}